.left-nav {
  max-width: 260px;
  padding: 21px 20px 0 20px;
  border-right: 1px solid #e3e8ee;
  height: 91vh;
}

.nav-header {
  display: flex;
  justify-content: space-between;

  h4 {
    font-size: 14px;
    color: #636363;
  }
}

.navbar {
  padding: 18px 0;
  margin-bottom: 18px;
  border-bottom: 1px solid #e3e8ee;

  .nav-link {
    display: flex;
    cursor: pointer;
    height: 40px;
    align-items: center;
    padding: 10px;
    gap: 14px;
    color: #333333;
  }

  a {
    font-size: 14px;
  }
}
.active-link {
  background-color: #cbf4c9;
  border-radius: 4px;

  fa-icon,
  a {
    color: #0e6245;
  }
}

.admin-navbar {
  border-bottom: 0;
}
