.left-nav {
  height: 100%;
  max-width: 260px;
  padding: 21px 20px 0 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.nav-header {
  display: flex;
  justify-content: space-between;

  h4 {
    font-size: 14px;
    color: var(--color-text-secondary);
  }
}

.navbar {
  padding: 18px 0;
  margin-bottom: 18px;
  border-bottom: 1px solid var(--color-border);

  .nav-link {
    display: flex;
    cursor: pointer;
    height: 40px;
    align-items: center;
    padding: 10px;
    gap: 14px;
    color: var(--color-neutral-500);
  }

  a {
    font-size: 14px;
  }
}
.active-link {
  background-color: var(--color-primary-light);
  border-radius: 4px;

  fa-icon,
  a {
    color: var(--color-primary-dark);
  }
}

.admin-navbar {
  border-bottom: 0;
}

.collapse-icon {
  margin-left: 12px;
  color: var(--color-neutral-500);
}
.theme-mode {
  margin: 20px;
}

.mode-name {
  color: var(--color-text-secondary);
}
