<div class="assignment-container">
  <div class="header-container">
    <h2 class="label">{{ assignmentContent.assignments }}</h2>
    <div class="button-group">
      <button class="btn export-btn">
        <fa-icon [icon]="uploadIcon"></fa-icon>
        <span>
          {{ assignmentContent.export }}
        </span>
      </button>
      <div class="separator"></div>
      <button class="btn create-btn">
        <fa-icon [icon]="plusIcon"> </fa-icon
        ><span>
          {{ assignmentContent.createAssignment }}
        </span>
      </button>
      <button class="btn bulk-btn">
        <fa-icon [icon]="plusIcon"> </fa-icon>
        <span>
          {{ assignmentContent.bulkAssignment }}
        </span>
      </button>
    </div>
  </div>
  <div class="assignment-table-container">
    <crm-table
      [searchConfig]="{
        placeholder: assignmentContent.search,
        width: '402px',
        height: '38px',
        fontSize: '12px',
        icon: searchIcon
      }"
    ></crm-table>
  </div>
</div>
