.assignment-container {
  padding: 24px;
}
.separator {
  height: 40px;
  border-right: 1px solid var(--color-border);
}

.export-btn {
  fa-icon {
    color: var(--color-neutral-500);
  }

  &:hover {
    border-color: var(--color-text-primary);
    color: var(--color-text-primary);
  }
}

.create-btn {
  background-color: var(--color-primary-dark);
  color: var(--color-bg);

  &:hover {
    background-color: var(--color-primary);
  }
}

.bulk-btn {
  border-color: var(--color-primary-dark);
  color: var(--color-primary-dark);

  &:hover {
    background-color: var(--color-primary);
    color: var(--color-bg);
  }
}

.assignment-table-container {
  margin-top: 24px;
}

.table-actions {
  display: flex;
  margin-bottom: 16px;
  align-items: center;
}

.footer {
  margin-top: 100px;
}
