.body {
  display: flex;
  flex: 1;
}
crm-left-nav {
  width: 260px;
  border-right: 1px solid #e3e8ee;

  &.nav-collapsed {
    width: 82px;
  }
}

.page {
  display: flex;
  flex-direction: column;
  height: 100%;
}
