<div class="users-container">
  <div class="header-container">
    <h2 class="label">{{ userContent.heading }}</h2>
    <div class="button-group">
      <button class="btn export-btn">
        <fa-icon [icon]="uploadIcon"></fa-icon>
        <span>
          {{ userContent.export }}
        </span>
      </button>
      <div class="separator"></div>
      <button class="btn create-btn" routerLink="./user">
        <fa-icon [icon]="plusIcon"> </fa-icon
        ><span>
          {{ userContent.createUser }}
        </span>
      </button>
    </div>
  </div>
  <div class="assignment-table-container">
    <div class="table-actions">
      <div class="search">
        <crm-input
          [width]="searchConfig?.width"
          [height]="searchConfig?.height"
          [placeholder]="searchConfig?.placeholder"
          [iconName]="searchConfig?.icon"
          [fontSize]="searchConfig?.fontSize"
          (valueEmitter)="searchValue($event)"
        ></crm-input>
      </div>
    </div>
    <ag-grid-angular
      #myGrid
      style="height: 550px"
      [columnDefs]="colDef"
      [rowData]="data"
      [pagination]="true"
      (gridReady)="onReady($event)"
    ></ag-grid-angular>
  </div>
</div>
