<header class="header-container">
  <div class="header-logo">
    <img src="logo.svg" alt="logo" />
  </div>
  <div class="header-search" (click)="activateInput()">
    @if(!isActive){
    <div class="search-icon">
      <fa-icon [icon]="searchIcon" />
      <div class="placeholder">{{ headerContent.search }}</div>
    </div>
    } @else {
    <input #input type="text" class="search-input" (blur)="deactivateInput()" />
    }
  </div>
  <div class="header-options">
    <div class="help-option">
      <a href="javascript:void()" class="help-link">{{ headerContent.helpCentre }}</a>
      <fa-icon [icon]="helpIcon" class="fa-lg" />
    </div>
    <div class="users-option">
      <div class="user-pic">
        <fa-icon [icon]="userIcon" class="fa-user-icon" />
      </div>
      <div class="user-name-email">
        <div class="name">Tarun Garg</div>
        <div class="email">tarun@fake.com</div>
      </div>
    </div>
  </div>
</header>
