<header class="header-container header">
  <div class="header-logo">
    <img src="logo.svg" alt="logo" />
  </div>

  <!-- <crm-input
    [placeholder]="headerContent.search"
    [width]="'504px'"
    [height]="'42px'"
    [iconName]="searchIcon"
    [fontSize]="'14px'"
  ></crm-input> -->
  <div class="header-options">
    <div class="help-option">
      <a href="javascript:void()" class="help-link">{{ headerContent?.helpCentre }}</a>
      <fa-icon [icon]="helpIcon" class="fa-lg" />
    </div>
    <div class="language-button">
      <crm-dropdown
        [iconName]="globeIcon"
        [options]="languagesPresent"
        (action)="changeLanguage($event)"
      ></crm-dropdown>
    </div>
    <div class="users-option">
      <div class="user-pic">
        <fa-icon [icon]="userIcon" class="fa-user-icon" />
      </div>
      <div class="user-name-email">
        <div class="name">Tarun Garg</div>
        <div class="email">tarun@fake.com</div>
      </div>
    </div>
  </div>
</header>
