<header class="header-container">
  <div class="header-logo">
    <img src="logo.svg" alt="logo" />
  </div>

  <crm-input
    [placeholder]="headerContent.search"
    [width]="508"
    [height]="42"
    [iconName]="searchIcon"
  ></crm-input>
  <div class="header-options">
    <div class="help-option">
      <a href="javascript:void()" class="help-link">{{ headerContent?.helpCentre }}</a>
      <fa-icon [icon]="helpIcon" class="fa-lg" />
    </div>
    <div class="language-button">
      <fa-icon [icon]="globeIcon" class="fa-lg" (click)="showLanguages()"></fa-icon>
      @if(showOptions){
      <div class="language-options">
        @for(language of languagesPresent; track $index){
        <div class="language-option" (click)="changeLanguage(language.code)">
          {{ language.name }}
        </div>
        }
      </div>
      }
    </div>
    <div class="users-option">
      <div class="user-pic">
        <fa-icon [icon]="userIcon" class="fa-user-icon" />
      </div>
      <div class="user-name-email">
        <div class="name">Tarun Garg</div>
        <div class="email">tarun@fake.com</div>
      </div>
    </div>
  </div>
</header>
