.header {
  height: 67px;
  background-color: var(--color-surface);
  border: 1px solid var(--color-border);

  .header-logo {
    margin-left: 24px;

    img {
      height: 55px;
      border-radius: 100%;
    }
  }

  .header-options {
    height: 42px;
    display: flex;
    align-items: center;
    gap: 32px;
    margin-right: 24px;
  }
}

.help-option {
  display: flex;
  align-items: center;
  color: var(--color-neutral-500);
  .help-link {
    font-size: 12px;
    margin-right: 6px;
  }
}

.language-button {
  color: var(--color-neutral-500);
}

.users-option {
  display: flex;
  align-items: center;
  gap: 10px;

  .fa-user-icon {
    font-size: 42px;
    color: var(--color-text-secondary);
  }

  .user-name-email {
    display: flex;
    flex-direction: column;
    color: var(--color-text-primary);
    gap: 4px;

    .name {
      font-size: 14px;
    }
    .email {
      font-size: 10px;
      font-weight: 300;
    }
  }
}
