.site-header {
  padding-bottom: 24px;
  margin-bottom: 24px;
  border-bottom: 1px solid var(--color-border);
}

.form-container {
  //   columns: 2;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 16px 38px;
  grid-auto-rows: minmax(42px, auto);
  padding-top: 24px;
}

.form-group {
  display: grid;
  grid-template-columns: 80px 1fr;
  gap: 16px;
}

.label {
  height: 42px;
  align-content: center;
}
