.user-header {
  padding-bottom: 24px;
  margin-bottom: 24px;
  border-bottom: 1px solid var(--color-border);
}

.form-container {
  display: grid;
  grid-template-columns: 80px 1fr 80px 1fr;
  gap: 16px 38px;
}
