.user-header {
  padding-bottom: 24px;
  margin-bottom: 24px;
  border-bottom: 1px solid var(--color-border);
}

.form-container {
  padding-top: 24px;
  display: grid;
  grid-template-columns: 80px 1fr 80px 1fr;
  gap: 16px 38px;
  grid-auto-rows: minmax(42, auto);
}

.half-row {
  grid-column: span 2;
  display: contents;
}

.half-row > .label {
  height: 42px;
  align-content: center;
  grid-column: 1 / 2; /* label goes in first column */
}

.half-row > input {
  grid-column: 2; /* input spans the rest of the row */
}

label {
  font-size: 14px;
  color: var(--color-text-primary);
  font-weight: 300;
}

.footer {
  margin-top: 100px;
}

.disabled {
  opacity: 0.6;
}

.mobile::-webkit-inner-spin-button,
.mobile::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
