<div class="px-24 py-24">
  <div class="header-container user-header">
    <h2>{{ userContent.createUser }}</h2>
  </div>
  <form (ngSubmit)="onSubmit(userForm)" #userForm="ngForm">
    <div class="form-container">
      <div class="half-row">
        <div class="label">
          <label for="name">{{ userContent.name }}</label>
        </div>
        <div class="input-wrapper">
          <input
            type="text"
            id="name"
            name="name"
            class="form-input"
            [readonly]="mode === 'view'"
            [ngClass]="{
              danger: name.invalid && name.touched,
              success: name.valid && name.touched && mode !== 'view'
            }"
            [(ngModel)]="user.name"
            required=""
            #name="ngModel"
          />
          @if(name.invalid && name.touched){ @if(name?.errors?.['required'] ){
          <small class="error">{{ userContent.errors?.nameRequired }}</small>
          } }
        </div>
      </div>

      <div class="half-row">
        <div class="label">
          <label for="email">{{ userContent.email }}</label>
        </div>
        <div class="input-wrapper">
          <input
            type="email"
            class="form-input"
            [readonly]="mode === 'view'"
            name="email"
            id="email"
            [ngClass]="{
              danger: email.invalid && email.touched,
              success: email.valid && email.touched && mode !== 'view'
            }"
            [(ngModel)]="user.email"
            required=""
            email=""
            pattern="^[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}$"
            #email="ngModel"
          />
          @if(email.invalid && email.touched){ @if(email?.errors?.['required'] ){
          <small class="error">{{ userContent.errors?.emailRequired }}</small>
          } @else if(email?.errors?.['pattern']){
          <small class="error">{{ userContent.errors?.emailIncorrect }}</small>
          }}
        </div>
      </div>

      <div class="half-row">
        <div class="label">
          <label for="contact">{{ userContent.contact }}</label>
        </div>
        <div class="input-wrapper" crmTooltip="'ssss'">
          <input
            type="number"
            class="form-input contact"
            [readonly]="mode === 'view'"
            [ngClass]="{
              danger: contact.invalid && contact.touched,
              success: contact.valid && contact.touched && mode !== 'view'
            }"
            name="contact"
            id="contact"
            [(ngModel)]="user.contact"
            required=""
            #contact="ngModel"
            pattern="^[0-9]{10}$"
            inputmode="numeric"
            title="Enter a 10-digit contact number"
          />
          @if(contact.invalid && contact.touched){ @if(contact?.errors?.['required'] ){
          <small class="error">{{ userContent.errors?.contactRequired }}</small>
          } @else if(contact?.errors?.['pattern']){
          <small class="error">{{ userContent.errors?.contactIncorrect }}</small>
          }}
        </div>
      </div>
    </div>
    <div class="button-group footer">
      <button class="btn" type="button" routerLink="/users">{{ userContent.back }}</button>
      @if(mode !== 'view'){
      <button class="btn btn-danger" type="reset" (click)="userForm.resetForm()">
        {{ userContent.reset }}
      </button>
      <button
        class="btn btn-success"
        [ngClass]="userForm.invalid ? 'disabled' : ''"
        [disabled]="userForm.invalid"
        type="submit"
      >
        {{ userContent.save }}
      </button>
      }
    </div>
  </form>
</div>
