.search {
  width: 100%;
  cursor: pointer;
  height: 100%;
  border-radius: 8px;
  border: 1px solid var(--color-border);
  background-color: var(--color-bg);
}

.search-icon {
  display: flex;
  align-items: center;
  gap: 5px;
  color: var(--color-text-secondary);
  height: 100%;

  fa-icon {
    padding-left: 16px;
  }

  .placeholder {
    font-weight: 300;
  }
}

.search-input {
  height: 100%;
  border: 0px;
  font-weight: 300;
  width: 100%;
  padding-left: 16px;
}

.search-input:focus-visible {
  outline: none;
  border: 1px solid var(--color-success-bg);
  border-radius: 8px;
}
