.heading-container {
  margin: 24px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.card-container {
  display: flex;
  justify-content: space-between;
  margin: 0 24px;
  flex-direction: row;
}
.card {
  border-radius: 16px;
  background-color: var(--color-success-bg);
  height: 120px;
  width: 270px;
  padding: 20px;
}

.card-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 20px;
  color: var(--color-text-primary);

  h6 {
    line-height: 14px;
    font-size: 14px;
  }

  fa-icon {
    height: 20px;
    cursor: default;
  }
}

.card-body p {
  font-size: 32px;
  color: var(--color-text-primary);
  line-height: 40p;
}

.card-footer {
  font-size: 10px;
  color: var(--color-text-primary);

  .precent {
    color: var(--color-primary-dark);
  }
}

hr {
  margin: 16px 24px;
  color: var(--color-border);
}
