<div class="px-24 py-24">
  <div class="header-container">
    <h2 class="label">Sites</h2>
    <div class="button-group">
      <button class="btn export-btn">
        <fa-icon [icon]="uploadIcon"></fa-icon>
        <span>
          {{ 'Export' }}
        </span>
      </button>
      <div class="separator"></div>
      <button class="btn btn-success" routerLink="./site">
        <fa-icon [icon]="plusIcon"> </fa-icon
        ><span>
          {{ 'Create site' }}
        </span>
      </button>
    </div>
  </div>
</div>
