.container {
  height: 100%;
  display: flex;
  align-items: center;
}

.badges {
  display: flex;
}

.badge[type='round'] {
  height: 28px;
  border-radius: 100%;
  width: 28px;
  align-content: center;
  text-align: center;
  position: relative;
  font-size: 10px;
  line-height: 28px;
  background-color: var(--color-neutral-200);
  color: var(--color-text-primary);
  margin-left: -10px;

  &:first-child {
    background-color: var(--color-primary-light);
    color: var(--color-primary);
    margin-left: 0px;
  }

  &:nth-child(2) {
    background-color: var(--color-error-bg);
    color: var(--color-error);
  }
}

.badge[type='oval'] {
  width: 72px;
  height: 26px;
  border-radius: 14px;
  text-align: center;
  line-height: 26px;
  font-size: 10px;

  &.lg {
    width: 132px;
    height: 34px;
    line-height: 34px;
    font-size: 14px;
    border-radius: 30px;
  }

  &.not-started {
    background-color: var(--color-error-bg-light);
    color: var(--color-error);
  }

  &.in-progress {
    background-color: var(--color-warning-bg);
    color: var(--color-warning);
  }

  &.completed {
    background-color: var(--color-success-bg);
    color: var(--color-success);
  }
}
