/* You can add global styles to this file, and also import other style files */
@use 'tailwindcss';
@use 'theme';

html,
body {
  height: 100%;
}

app-root {
  display: block;
  height: 100%;
}

h2 {
  font-weight: 500;
  color: var(--color-text-primary);
}

fa-icon {
  cursor: pointer;
}

.header-container {
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.px-24 {
  padding-left: 24px;
  padding-right: 24px;
}

.py-24 {
  padding-top: 24px;
  padding-bottom: 24px;
}

.mx-24 {
  margin-left: 24px;
  margin-right: 24px;
}

.my-24 {
  margin-top: 24px;
  margin-bottom: 24px;
}

.btn {
  padding: 13px 27px;
  border: 1px solid var(--color-border);
  border-radius: 4px;
  font-size: 12px;
  line-height: 12px;
  font-weight: 300;
  color: var(--color-neutral-500);
  cursor: pointer;

  &:hover {
    border-color: var(--color-text-primary);
    color: var(--color-text-primary);
  }
}

.btn-success {
  background-color: var(--color-primary-dark);
  color: var(--color-bg);

  &:hover {
    background-color: var(--color-primary);
  }
}

.btn-danger {
  background-color: var(--color-error);
  color: var(--color-bg);

  &:hover {
    background-color: var(--color-error-bg);
  }
}

.form-label {
  font-size: 14px;
  color: var(--color-text-primary);
  font-weight: 300;
}

.form-input {
  height: 42px;
  width: 100%;
  color: var(--color-text-primary);
  background-color: var(--color-neutral-100);
  border-radius: 8px;
  padding: 12px 16px;
  font-size: 14px;
  line-height: 14px;
}

.button-group {
  display: flex;
  gap: 12px;
}

.input-wrapper {
  .danger.form-input {
    outline: 1px solid var(--color-error);
  }

  .success.form-input {
    outline: 1px solid var(--color-success);
  }
}

small.error {
  margin-left: 5px;
  color: var(--color-error);
}

input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.footer {
  margin-top: 100px;
}

.disabled {
  cursor: not-allowed;
}
