/* You can add global styles to this file, and also import other style files */
@use 'tailwindcss';
@use 'theme';

html,
body {
  height: 100%;
}

app-root {
  display: block;
  height: 100%;
}

h2 {
  font-weight: 500;
  color: var(--color-text-primary);
}

fa-icon {
  cursor: pointer;
}

.header-container {
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.px-24 {
  padding-left: 24px;
  padding-right: 24px;
}

.py-24 {
  padding-top: 24px;
  padding-bottom: 24px;
}

.mx-24 {
  margin-left: 24px;
  margin-right: 24px;
}

.my-24 {
  margin-top: 24px;
  margin-bottom: 24px;
}

.btn {
  padding: 13px 27px;
  border: 1px solid var(--color-border);
  border-radius: 4px;
  font-size: 12px;
  line-height: 12px;
  font-weight: 300;
  color: var(--color-neutral-500);
  cursor: pointer;

  &:hover {
    border-color: var(--color-text-primary);
    color: var(--color-text-primary);
  }
}

.btn-success {
  background-color: var(--color-primary-dark);
  color: var(--color-bg);

  &:hover {
    background-color: var(--color-primary);
  }
}

.btn-danger {
  background-color: var(--color-error);
  color: var(--color-bg);

  &:hover {
    background-color: var(--color-error-bg);
  }
}
